$darkblue: rgba(7, 71, 154, 1);
$blue: rgba(30, 131, 209, 1);
$liteblue: rgba(106, 190, 236, 1);
$tomato: rgba(255, 89, 38, 1);
$mustard: rgba(238, 164, 6, 1);

$border-radius: 0;
$paragraph-margin-bottom: 0;

@import "~bootstrap/scss/bootstrap";

body {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    220deg,
    rgba(7, 71, 154, 0.9) 0%,
    rgba(255, 89, 38, 1) 50%,
    rgba(238, 164, 6, 0.9) 100%
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.App {
  width: 100vw;
  height: 100vh;
}

.container {
  margin: 0px;
  padding: 0px;
}

.btn {
  height: 3em;
  width: 6em;
  padding: 0px;
  margin: 0px;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  border-radius: 4px;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.75);
}
.btn:hover {
  color: white;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.75);
}
.btn:active {
  color: white;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.75);
}

.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  div.usernames {
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem;
  }
  div.usernames:nth-child(odd) {
    width: 100%;
    border: 1px solid gainsboro;
    border-radius: 2px;
    background: floralwhite;
  }
  div.usernames:nth-child(even) {
    width: 100%;
    border: 1px solid gainsboro;
    border-radius: 2px;
    background: gainsboro;
  }
  .avatarImg {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  .usermessages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 0px 0px 10px;
  }
  .Card {
    width: 50%;
    height: 82vh;
    text-align: center;
    border-radius: 9px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
  }
  .Left {
    margin: 0.5rem 0.75rem 0px 1.5rem;
  }
  .Right {
    margin: 0.5rem 1.5rem 0px 0.75rem;
  }
  .messagesdata {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 5rem;
    font-size: 1.8rem;
  }
}

.Register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7em;
  .Column {
    display: flex;
    flex-direction: column;
    align-items: center;
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      width: 30em;
      height: 2.5em;
      font-size: 17px;
      outline: none;
      border: 1px solid gainsboro;
      border-radius: 6px;
      padding-left: 1rem;
    }
  }
  .card {
    background-color: floralwhite;
    border: 1px solid gainsboro;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  }
  h1 {
    color: #262733;
    font-size: 4.2rem;
    font-weight: bold;
    margin: 0.5em 0px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  hr {
    color: dimgray;
    margin: 1.3rem 5rem;
    margin-bottom: 2.5rem;
  }
}
.formGroup {
  margin: 1.3rem 5rem;
}
.formField {
  outline: none;
  border: 1px solid gainsboro;
  padding: 1rem;
  border-radius: 6px;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 25rem;
  margin-bottom: 5rem;
}
.register-btn {
  color: white;
  background-color: rgba(255, 89, 38, 1);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10em;
  .Column {
    display: flex;
    flex-direction: column;
    align-items: center;
    input[type="text"],
    input[type="password"] {
      width: 30em;
      height: 2.5em;
      font-size: 17px;
      outline: none;
      border: 1px solid gainsboro;
      border-radius: 6px;
      padding-left: 1rem;
    }
  }
  .card {
    background-color: floralwhite;
    border: 1px solid gainsboro;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  }
  h1 {
    color: #262733;
    font-size: 4.2rem;
    font-weight: bold;
    margin: 0.5em 0px;
    margin-bottom: 2.5rem;

    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  hr {
    color: dimgray;
    margin: 1.3rem 5rem;
    margin-bottom: 2.5rem;
  }
}
.formGroup {
  margin: 1.3rem 5rem;
}
.formField {
  outline: none;
  border: 1px solid gainsboro;
  padding: 1rem;
  border-radius: 6px;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 25rem;
  margin-bottom: 5rem;
}
.login-btn {
  color: white;
  background-color: rgba(30, 131, 209, 1);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.Navbar {
  width: 99vw;
  height: 15%;
  margin-top: 5%;
  margin: 1rem;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // text-align: center;
  border: 1px solid floralwhite;
  border-bottom: 1px solid gray;
  border-right: 1px solid darkgray;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.13);
  .Nav {
    display: flex;
    align-items: center;
    .NavItem {
      padding: 0px 3.6em;
      .logo {
        border-radius: 100%;
        margin: 0px;
        padding: 0px;
      }
      a {
        color: #130303;
        text-decoration: none;
      }
      a:hover {
        color: white;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 9px;
      }
      .nav-link {
        color: #130303;
      }
      .nav-link:hover {
        color: white;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 9px;
      }
      h3 {
        font-size: 3.4rem;
        font-weight: 700;
      }
    }
  }

  .Searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    .search {
      width: 12em;
      height: 2.5em;
      font-size: 17px;
      outline: none;
      border: 1px solid gainsboro;
      border-radius: 6px;
      padding-left: 1rem;
    }
    .search:hover {
      border: 1px solid darkgray;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .search:focus {
      border: 1px solid dimgray;
      box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.75);
    }
    .search-btn {
      padding: 0px;
      margin: 0px;
      height: 2.5em;
      width: 6em;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }
}

/* ===========================
   ====== Medua Query for Search Box ====== 
   =========================== */

@media only screen and (min-width: 150px) and (max-width: 1400px) {
  .Navbar {
    // margin: 0 auto;
    .Nav {
      // margin: 0 auto;
    }
    h3 {
      font-size: 3.2rem;
      font-weight: 600;
    }
    .Searchbar {
      display: none;
    }
  }
}
